mat-drawer-container {
  height: calc(100vh - 64px);
  background-color: var(--bg-primary) !important;
}

mat-drawer {
  width: 600px;
  padding: 0;
  background-color: var(--bg-secondary);
  border-left: 1px solid var(--border-color);
}

