@use '@angular/material' as mat;

html {
  height: 100%;
  @include mat.theme((
    color: (
      primary: mat.$cyan-palette,
      tertiary: mat.$blue-palette,
    ),
    typography: Roboto,
    density: 0,
  ));
}

body {
  background-color: #0d0d0f;
  color: #e5e5e5;
  font: var(--mat-sys-body-medium);
  margin: 0;
  height: 100%;
}
